<%- include('header'); -%>
<h2>This is my about page.</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
  voluptatibus vero maiores sequi cumque perferendis debitis blanditiis,
  doloribus aliquid minus dolor totam sunt dolores tenetur repudiandae iure
  laboriosam cupiditate voluptates.
</p>
<%- include('footer'); -%>
